@model AssociacaoServicoAtendimentoViewModel; 

@{
    var name = string.Concat("ServicosAssociados", Model.PosicaoLista);
}

<div class="col-6 col-xs-12 mb-3">
    <div class="row">
        <div class="col-6 col-xs-12 mb-3">
            <label asp-for="ServicoId" class="col-md-6 control-label">Serviço</label>
            <select id="drpEmpList" class="form-control" asp-for="ServicoId" asp-items="@(new SelectList(Model.ComboServicos, "Value", "Text"))">  
                <option value="">Selecione...</option>  
            </select>  
            <input type="hidden" asp-for="ServicoId" />  
            <span asp-validation-for="ServicoId" class="text-danger"></span>
        </div>

        <div class="col-4 col-xs-12 mb-3">
            <label asp-for="ValorCobrado" class="control-label">VALOR COBRADO</label>
            <input asp-for="ValorCobrado" class="form-control" a />
            <span asp-validation-for="ValorCobrado" class="text-danger"></span>
        </div>
    </div>
</div>