@model AtendimentoViewModel

@await Component.InvokeAsync("NavigationPathViewComponent")

<div class="card mb-12">
     <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="FormTitle col-12">Cadastro do Atendimento</h5>
    </div>
     <div class="card-body">
        <form asp-action="Create">
            <div class="form-horizontal">
                @await Html.PartialAsync("_DadosAtendimento", model: Model)
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        $(document).ready(function (){
            if ('@Model.AutoComplete' == 'False') {
                $('input').attr('autocomplete', 'off');
            }

            if ('@Model.Enabled' == 'False') {
                $('input').attr('disabled', 'disabled');
                $('#button-submit').attr('disabled', 'disabled');
            }
        });
    </script>
}

