@model ServicoViewModel

<div class="row">
    <input asp-for="Id" hidden/>

    <div class="col-4 col-xs-12 mb-3">
        <label asp-for="Nome" class="control-label">NOME</label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="col-8 col-xs-12 mb-3">
        <label asp-for="Descricao" class="control-label">DESCRIÇÃO</label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
</div>
@await Component.InvokeAsync("SaveButtonsViewComponent")
