@model InventoryControl.WebUI.ViewModels.RegisterViewModel
@{
    Layout = "_LayoutAccount";
}
<style>
    .authentication-wrapper.authentication-basic .authentication-inner{
        max-width:600px;
    }
    .app-brand-text.demo {
        font-size: 1.75rem;
        letter-spacing: -0.5px;
        text-transform: inherit !important;
    }
</style>
<div class="app-brand justify-content-center">
    <a href="index.html" class="app-brand-link gap-2">
        <span class="app-brand-logo demo">
        </span>
        <span class="app-brand-text demo text-body fw-bolder">Inventory Control</span>
    </a>
    </div>
<div class="col-12">
    <h4>
        Registre-se
    </h4>
        <form asp-action="Register" asp-controller="Account">
        <div class="form-horizontal">
            <div class="mb-3">
                <label asp-for="Login" class="col-md-6 control-label">Username</label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="col-md-6 control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PerfilUsuarioId" class="col-md-6 control-label">Perfil de Usuário</label>
                <select id="drpEmpList" class="form-control" asp-for="PerfilUsuarioId" asp-items="@(new SelectList(Model.Perfis, "Value", "Text"))">  
                    <option value="">Selecione</option>  
                </select>  
                <input type="hidden" asp-for="PerfilUsuarioId" />  
                <span asp-validation-for="PerfilUsuarioId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Senha" class="col-md-6 control-label">Senha</label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmarSenha" class="col-md-6 control-label">Confirmar senha</label>
                <input asp-for="ConfirmarSenha" class="form-control" />
                <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <div style="justify-content:center">
                    <input style="width:100%" type="submit" value="Register" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
</div>
